{% extends "layout.html" %}
{% block content %}
<div class="flex justify-center">
<form method="POST" class="glass p-6 rounded-2xl w-80">
<h2 class="text-2xl text-green-400 glow mb-4 text-center">Đăng ký</h2>
<input name="username" placeholder="Username" class="w-full mb-3 p-2 rounded bg-black border border-green-500">
<input name="password" type="password" placeholder="Password" class="w-full mb-3 p-2 rounded bg-black border border-green-500">
<button class="w-full p-2 rounded bg-green-700 glow">Register</button>
</form>
</div>
{% endblock %}
